.App {
  min-height: 100vh;
  /* text-align: center; */
  /* background-color: #282c34; */
  background-color: lightgray;

  color: white;
  padding:20px;
}



/* .App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
